/* Global Styles */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #F9E11E;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header img {
  max-height: 100%;
  object-fit: contain;
}

/* Main Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Filter Section */
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
  justify-content: space-between;
}

/* Search and Index Sections */
#search-section, #index-section {
  background-color: #e6edf8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-bottom: 20px;
}

#search-section {
  order: 2;
}

/* Index Section */
#index-section summary, #search-section summary {
  font-size: 1.2rem;
  color: #01689b;
  font-weight: bold;
}

#index-section #index-form input,
#index-section #index-form button,
#search-section #search-form input#query {
  padding: 10px;
  font-size: 1rem;
}

#index-section #index-form input,
#search-section #search-form input#query {
  width: calc(100% - 40px);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
}

#index-section #index-form button {
  background-color: #F9E11E;
  border: none;
  border-radius: 8px;
  width: 6rem;
  cursor: pointer;
  margin: 10px 0 0 0;
}

#index-section #index-form button:hover {
  background-color: #e0c020;
}

#index-section #index-form button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
}

/* Search Section */
#search-section #search-form p {
  font-size: 1.2rem;
  color: #01689b;
  font-weight: bold;
  margin-bottom: 5px;
}

#search-section #search-form button {
  padding: 10px 15px;
  background-color: #F9E11E;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0 0 0;
}

#search-section #search-form button:hover {
  background-color: #e0c020;
}

/* Sort Section */
#sort-section {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 20px;
}

#sort-button {
  align-self: flex-start;
  padding: 10px 15px;
  background-color: #F9E11E;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

#sort-button:hover {
  background-color: #e0c020;
}

/* Bestands Typen */
.bestandsTypen {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bestandsTypen p {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  color: #01689b;
  font-weight: bold;
}

#sort-section details summary {
  font-weight: bold;
  cursor: pointer;
  color: #01689b;
}

#sort-section details .file-types {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#sort-section details .file-types label {
  font-size: 0.9rem;
}

/* Results Section */
#results-section {
  margin-top: 20px;
}

#results-section #results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

#results-section #results .result-item {
  border-radius: 8px;
  background-color: #e6edf8;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

#results-section #results .result-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#results-section #results .result-item .result-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #01689b;
  margin-bottom: 10px;
}

#results-section #results .result-item .result-path {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

#results-section #results .result-item .result-snippet {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.matches-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggle-matches-btn {
  align-self: flex-start;
  padding: 8px 12px;
  background-color: #F9E11E;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.toggle-matches-btn:hover {
  background-color: #e0c020;
}

/* Result Header Styles */
.result-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.result-header-item {
  display: flex;
  flex-direction: column;
}

.result-header-label {
  font-weight: lighter;
  color: lightslategray;;
  margin-right: 10px;
  min-width: 120px;
}

.result-header-clickable {
  font-weight: bold;
  cursor: pointer;
  color: #01689b;
  transition: color 0.2s;
}

.result-header-clickable:hover {
  color: #0056b3;
  text-decoration: underline;
}

.match-paragraph {
  margin: 5px 0;
}

.additional-matches {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.highlight{
  background-color: #F9E11E;
}