body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container-bar {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    /* padding: 20px; */
    /* background-color: #fff; */
    border-radius: 6px;
}


h1#titel {
    text-align: center;
    font-weight: 900;
    color: #154273;
}


form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bc7;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

button:hover {
    filter: brightness(85%);
}

.result-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.result-item h3 {
    margin: 0;
    font-size: 18px;
    color: #007BFF;
}

.result-item p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

details {
    margin-top: 10px;
    cursor: pointer;
}

details summary {
    font-weight: bold;
    margin-bottom: 5px;
}

.file-types {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 14px;
    cursor: pointer;
}

.path-container {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #555;
}

.path-part {
    cursor: pointer;
}

.path-part:hover {
    text-decoration: underline;
    color: #007bff;
}

.path-separator {
    margin: 0 5px;
    color: #999;
}

#file-tree ul {
    list-style-type: none;
    padding-left: 20px;
}

#file-tree li {
    margin: 5px 0;
    position: relative;
}

#file-tree li::before {
    content: '├─';
    position: absolute;
    left: -15px;
}

#file-tree li:last-child::before {
    content: '└─';
}

.folder {
    cursor: pointer;
}

.folder::before {
    content: '📁';
    margin-right: 5px;
}

.file::before {
    content: '📄';
    margin-right: 5px;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
}

button:disabled:hover {
    background-color: #cccccc;
}