<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoekmachine</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <header>    
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="rijkswaterstaat logo">
    </header>

    <main class="container">

        <nav>

            <section id="index-section">
                <summary>Indexeer en dooroek een map</summary>

                <form id="index-form">
                    <input type="text" id="index-location" name="location" placeholder="Voer een maplocatie in" required>
                    <button type="submit" id="index-button">Indexeer</button>
                    <p id="index-status"></p> 
                </form>

            </section>

            <section id="search-section">

                <summary>Zoek in map en bestand</summary>

                <form id="search-form">
                    <div id="form-group">
                        <input type="text" id="query" name="query" placeholder="Zoekterm..." required>

                        <div id="search-type">
                            <label>
                                <input type="radio" name="search_type" value="exact" checked> Exacte tekst
                            </label>
                            <label>
                                <input type="radio" name="search_type" value="all_terms"> Alle termen
                            </label>
                            <label>
                                <input type="radio" name="search_type" value="any_term"> Minstens 1 term
                            </label>
                        </div>

                    </div>
                    <button type="submit">Zoeken</button>
                </form>

            </section>

        </nav>

        <section id="sort-section">
            <details>
                <summary>Kies bestandstypen</summary>
                <div class="file-types">
                    <label>
                        <input type="checkbox" name="file-type" value="pdf"> PDF
                    </label>
                    <label>
                        <input type="checkbox" name="file-type" value="docx"> Word
                    </label>
                    <label>
                        <input type="checkbox" name="file-type" value="powerpoint"> PowerPoint
                    </label>
                    <label>
                        <input type="checkbox" name="file-type" value="excel"> Excel
                    </label>
                </div>
            </details>
            <button id="sort-button">Sorteer op datum</button>
        </section>

        <div id="results-section">
            <div id="file-tree"></div>
            <div id="results"></div>
        </div>        

    </main>

    <script type="module" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>
